@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <Heading TextColor="TextColor.Black50" Size="HeadingSize.Is6">@context.User.FindFirst("nickname")?.Value</Heading>
        <Button Color="Color.Primary" Clicked="SignOut" Float="Float.End">Wyloguj</Button>
    </Authorized>
    <NotAuthorized>
        <Button Color="Color.Secondary" Clicked="SignIn">Zaloguj się</Button>
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private string? _nickname;

    private void SignIn()
    {
        Navigation.NavigateTo("authentication/login");
    }
    private void SignOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}