<div style="width: 100%; background-color: #ffcd00; padding: 2rem; border-top: black 3px solid;">
    <Heading Size="HeadingSize.Is5">
        Aplikacja wykonana w ramach
        kursu Programowanie Aplikacji
        Mobilnych i Webowych na Politechnice Warszawskiej.
    </Heading>
</div>
